table{
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
}

*{
    font-family: Ubuntu;
}

.booth_info_container{
    border: 2px solid blue;
}

.test{
    background-color: #205067;
}

.booth_assignment_box{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@font-face {
    font-family: Ubuntu;
    src: url('font.ttf');
}

#test{
    background-color: red;
}