{% extends 'admin-base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
</head>
<body>
    <ul class="nav nav-tabs" style="font-size:10px; margin-top:5px;" align="center">
        <li class="nav-item"><a href="{%  url 'home_election'%}" class="nav-link "> BACK </a></li>
        <li class="nav-item"><a href="{%  url 'create_election'%}" class="nav-link "> ADD ELECTION </a></li>
        <li class="nav-item"><a href="{%  url 'activate_election'%}" class="nav-link"> ACTIVATE ELECTION </a></li>
        <li class="nav-item"><a href="{%  url 'reset_election'%}" class="nav-link"> RESET ELECTION </a></li>
        <li class="nav-item"><a href="{%  url 'declare_election'%}" class="nav-link active"> DECLARE RESULTS OF ELECTION </a></li>
        <li class="nav-item"><a href="{%  url 'all_election'%}" class="nav-link"> VIEW ALL ELECTIONS </a></li>
        <li class="nav-item"><a href="{% url 'live_results' %}" class="nav-link"> LIVE RESULTS </a></li>
    </ul>
    <br>
    <br>

    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        DECLARE ELECTION RESULTS
    </h1>
    {%  if elections.count == 0 %}
        <h1> PLEASE <a href="{% url 'create_election' %}"> ADD ELECTION </a></h1>
    {%  else %}

        <div style="overflow:auto; position:relative;" class="text-center m-5">
                <form method="POST" action="{% url 'declare_election' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="choose_elections" style="float:left;">Choose Elections : </label>
                        <select id="choose_elections" class="form-control" name="election_id">
                            {% for election in elections.all %}
                                <option value="{{ election.id }}"> {{ election.pretty_name }} </option>
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <br>
                        <br>
                        <label for="superuser_username" style="float: left;"> To Proceed, Please Enter the SuperUser username.</label>
                        <input type="text" id="superuser_username" name="superuser_username" class="form-control">
                        <br>
                        <label for="superuser_password_1" style="float: left;"> Please Enter the SuperUser password.</label>
                        <input type="password" id="superuser_password_1" name="superuser_password_1" class="form-control">
                        <br>
                        <label for="superuser_password_2" style="float: left;"> Please Enter the SuperUser password again.</label>
                        <input type="password" id="superuser_password_2" name="superuser_password_2" class="form-control">
                        <br>
                        <br>
                    </div>
                    <input class='btn btn-primary' type="submit" value="DECLARE ELECTION">
            </form>
        </div>
    {%  endif  %}
    </div>

{% endblock %}