{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        DECLARE ELECTION RESULTS
    </h1>
    {%  if elections.count == 0 %}
        <h1> PLEASE <a href="{% url 'create_election' %}"> ADD ELECTION </a></h1>

    {%  else %}
        <div style="overflow:auto; position:relative;" class="text-center">
                <form method="POST" action="{% url 'declare_election' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <select name="election_id">
                        {% for election in elections.all %}
                            <option value="{{ election.id }}"> {{ election.pretty_name }} </option>
                        {%  endfor %}
                    </select>
                    <p> To Proceed, Please Enter the SuperUser username.</p>
                    <input type="text" name="superuser_username">
                    <p> Please Enter the SuperUser password.</p>
                    <input type="password" name="superuser_password_1">
                    <p> Please Enter the SuperUser password again.</p>
                    <input type="password" name="superuser_password_2">
                    <br>
                <br>
                    <input class='btn btn-primary' type="submit" value="DECLARE ELECTION">
            </form>
        </div>
    {%  endif  %}
    </div>

{% endblock %}