{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        ELECTION ADMINISTRATION
    </h1>
    <a href="/admin/elections/election_ops/create" class="btn btn-primary"> ADD ELECTION </a>
    <a href="/admin/elections/election_ops/activate" class="btn btn-primary"> ACTIVATE ELECTION </a>
    <a href="/admin/elections/election_ops/reset" class="btn btn-primary"> RESET ELECTION </a>
    <a href="/admin/elections/election_ops/declare" class="btn btn-primary"> DECLARE RESULTS OF ELECTION </a>
    <a href="/admin/elections/election_ops/all" class="btn btn-primary"> VIEW ALL ELECTIONS </a>
    </div>

{% endblock %}