{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
{% if elections.count == 0 %}
    <p> zero elections</p>
     <form action="{%  url 'mainmenu' %}" id = 'redirect_to_add_elections'>
            </form>
            <script type="application/javascript">
                alert("You must have an active election to add candidates.");
                document.getElementById('redirect_to_add_elections').submit()
            </script>
{%  else %}
    <div class="container text-center">
    <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
     Candidate's voter ID :
    <select name="voter_id" id="voter_id">
        {%  for voter in voters %}
            <option value="{{ voter.voter_id }}"> {{ voter.name }} {{ voter.voter_class }} ({{ voter.voter_id }}) </option>
        {% endfor %}
    </select>
    <br>
    For the Post Of:
    <select name="post" id="post">
        {%  for post in posts %}
            <option value="{{ post.id }}"> {{ post.name }} </option>
        {% endfor %}
    </select>
    <br>
    In election :
    <select name="election" id="election">
        {%  for election in elections %}
            <option value="{{ election.id }}"> {{election.type}}  {{election.year}} </option>
        {% endfor %}
    </select>
    <br>
    Image :
    <input type="file" id="image" name="image">
    <br>
    Logo :
    <input type="file" id="logo" name="logo">
    <br>
    Slogan :
    <input type="text" name="slogan">
    <br>
    <br>
    <input class='btn btn-primary' type="submit" value="Submit Candidates">
</form>
</div>
{% endif %}

{% endblock %}