{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        CANDIDATES INFORMATION
    </h1>
    {%  if candidates.count == 0 %}
            <form action="{%  url 'add' %}" id = 'redirect_to_add'>
            </form>
            <script type="application/javascript">
                alert("Candidates are not added");
                document.getElementById('redirect_to_add').submit()
            </script>
    {%  else %}
        {% for candidate in candidates.all %}
            <div class="inline-group" style="background-color: #79aec8; border:2px solid black;">
                <img src="{{ candidate.image.url }}" height="100px" width="100px">
                <h3> {{ candidate.name }}</h3>
                <p> {{ candidate.slogan }}</p>
            </div>
        {% endfor %}
    {%  endif  %}
    </div>

{% endblock %}