{% extends 'base.html' %}
{% load staticfiles %}
{%  block content %}
    <div class="text-center">
        <h1> Cluster Control Interface </h1>
        <h2> Cluster ID : {{ cluster.id }}</h2>
        <h2> Election : {{ cluster.election }}</h2>
        <h2> Location : {{ cluster.location }}</h2>
    </div>
    <hr>
    {% for booth in booths %}
        <div class="container row booth_info_container" style="border:2px solid blue;">
                    <div class="col-3">
                        <div class="row">
                            <h1>{{ booth }}</h1>
                        </div>
                        <div class="row">
                            <h2>{{ booth.location }}</h2>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <h3> Username :{{ booth.username }}</h3>
                        </div>
                        <div class="row">
                            <h3>Password :{{ booth.password }}</h3>
                        </div>
                        <div class="row">
                            <h3> Current Voter : {{ booth.assigned_voter }}</h3>
                        </div>
                    </div>
        <br>
    {% endfor %}
{% endblock %}