{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <head>
        <style>
            .form_buttons {
                width: 30%;
            }
        </style>
    </head>
    {% if message %}
        <p style="border: 2px solid red;"> {{ message }}</p>
    {% endif %}
    <div class="container text-center" style="padding:5%;">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'assets/logo_big.jpg' %}" style="height:400px; width:300px;">
            </div>
            <div class="col-5" id="heading">
                <h1>ELECTRONIC ELECTION SYSTEM </h1>
                {% if user.is_authenticated %}
                    {% if group %}
                        <p> Here by Mistake? </p>
                        {% if group == 'vote' %}
                            <a href="{% url 'vote' booth_id=identifier  %}" class="btn btn-success"> Take me back</a>
                        {% elif group == 'cluster' %}
                            <a href="{% url 'cluster' cluster_id=identifier %}" class="btn btn-success"> Take me Back</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'home_electionadmin' %}" class="btn btn-success"> Go To Admin Page </a>
                    {% endif %}

                {% else %}
                    <hr>
                <form action="{% url 'runtime_mainmenu' %}" method='POST'>
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column; align-items: center">
                        <input class="form-control" type="text" name="username" placeholder="Username"
                               autocomplete="off">
                        <br>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                        <br>
                        <p>{{ error }}</p>
                        <br>
                        <button type="submit" class="btn btn-primary form_buttons"> LOGIN</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}