{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container text-center" style="padding:5%;">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'assets/logo_big.jpg' %}" style="height:400px; width:320px;">
            </div>
            <div class="col-5" id="heading">
                <h1>ELECTRONIC ELECTION SYSTEM </h1>
                <hr>
                <h2> LOGIN </h2>
                <form id="votend_login" action="{% url 'runtime_mainmenu' %}" method='POST'>
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column;">
                        <input type="text" name="username" placeholder="Username" autocomplete="off">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn btn-primary"> LOGIN </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}