{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1> voting interface </h1>
    <h2> Booth ID : {{ booth.id }}</h2>
    <p id ='error'></p>
    <p hidden id="voterid">samplevoterid</p>

    <style>
                /* Logo of candidate 1 */
        .logo {
            grid-column: 1;
        }

        /* candidate 1 name */
        .candidate_namelbl {
            font-size: 20px;
            grid-column: 2;
        }

        /* Candidate Card */
        .candidate_box{
            display: inline;
        }

        /* Candidate Name label */
        .candidate_box label {
            width:100%;
        }


        .p_candidate_btn{
            display: none;
        }

        /* Radio Button */
        .p_candidate_input {
            margin: 10px;
            padding: 20px;
            display : grid;
            grid-template-columns: 100px 100px;
            grid-template-rows: auto;
            transition: 0.4s ease;
        }

        /* When the candidate radio button is clicked then show shadow */
        .p_candidate_input:hover {
            cursor: pointer;
        }



        /* When the candidate radio button is clicked then show shadow */
        .p_candidate_btn:checked + .p_candidate_input {
            box-shadow: 0 0 3px 3px green;

        }

        .submit_vote {
            grid-column: 2 / span 1;
            grid-row: inherit;
            padding: 10px;
            background: transparent;
            border: 2px  solid black;
            border-radius: 15px;
            font-size : 20px;
            color: black;
            transition: 0.5s ease;
        }

        .submit_vote:hover {
            background: green;
            color: white;
            border: 2px 2px 0 0 solid black;
        }
    </style>

    <script type="application/javascript">

        function authvoter() {
            var o_voterid = document.getElementById('voterid').innerText;
            var u_voterid = prompt('Please Enter the Voter ID');
            if (o_voterid == u_voterid){
                document.getElementById('voterinterface').style.display = 'block';
                document.getElementById('error').innerHTML = 'correct';
                document.getElementById('authtrigger').style.display = 'none';
            }
            else{
                document.getElementById('voterinterface').style.display = 'none';
                document.getElementById('error').innerHTML = 'wrong';
            }
        }

    </script>

    <button class="btn btn-primary" id='authtrigger' onclick="authvoter()"> Begin Voting </button>


    <div id="voterinterface" style="display: none;">
        <div class="voting_grid">
        <form action="{% url 'vote' booth_id=booth.id %}" method="POST">
            <div class="container">
                {% csrf_token %}
                {% for post in posts %}
                    <! for each post>
                    <div class="col-md-6">
                        <h2>{{ post }}</h2>
                        <hr>
                        <! for each of the posts each candidate gets a box>
                        <div>
                            {% for candidate in candidates %}
                                {%  if candidate.post == post %}
                                        <! the division for each candidate>
                                        <div class="candidate_box">
                                            <label>
                                                <input
                                                        type="radio"
                                                        name="{{ post.id }}"
                                                        class="p_candidate_btn"
                                                        value="{{ candidate.id }}"
                                                        required="required"
                                                >
                                                <div class="p_candidate_input">
                                                    <div class="row">
                                                        <div class="col">
                                                            <img src="{{ candidate.logo.url }}" class="img-fluid" height="100px" width="200px"> <br><br>
                                                        </div>
                                                        <div class="col">
                                                            <label class="candidate_namelbl">{{ candidate.name }}</label>
                                                            <label class="candidate_namelbl">{{ candidate.slogan }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                 {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><br>
            <input type="submit" value="VOTE NOW" class="submit_vote">
            <br><br>
            <br><br>
        </form>
    </div>

    </div>

{% endblock %}