{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        MAIN MENU
    </h1>
    <br>
    <br>
    {%  if user.is_authenticated %}
        <h2> Welcome, {{ user }}</h2>
        <a href="/admin/voters/mainmenu" class="btn btn-primary"> Voters </a>
        <a href="/admin/elections/mainmenu" class="btn btn-primary"> Elections </a>
        <a href="/admin/candidates/mainmenu" class="btn btn-primary"> Candidates </a>
        <a href="{%  url 'clustermaster_mainmenu' %}" class="btn btn-primary"> Clusters </a>
    {% endif %}
    </div>

{% endblock %}