{% extends 'base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
{%  if user.is_authenticated %}
   <form action="{% url 'home' %}" id="redirect_to_home">
            </form>
            <script type="application/javascript">
                 document.getElementById('redirect_to_home').submit()
            </script>
{% endif %}
<h1> You have been logged out. </h1>
<h2> click here to login again. </h2>
<a href="{% url 'runtime_mainmenu' %}" class="btn btn-primary"> LOGIN </a>

{% endblock %}