{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        VOTER ADMINISTRATION
    </h1>
    <div class="d-flex flex-sm-column bd-highlight" style="padding: 20px;" align="center">
        <a href="{% url 'view' %}" class="btn btn-primary"> VIEW ALL VOTERS </a>
        <br>
        <a href="{% url 'populate' %}" class="btn btn-primary"> POPULATE VOTER DATABASE </a>
        <br>
        <a href="{% url 'delete_v' %}" class="btn btn-primary"> DELETE ALL VOTERS </a>
    </div>
    </div>

{% endblock %}