{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
                <br>
        POPULATE VOTER DATABASE
    </h1>
        {%  if voters.count > 0 %}
            <form action="{%  url 'view' %}" id="redirect_to_view">
            </form>
            <script type="application/javascript">
                 alert("Database is already populated");
                 document.getElementById('redirect_to_view').submit()
            </script>
        {% elif voters.count == 0 %}
        <form method="POST" action="{% url 'populate' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <p>Please submit a CSV file with the following fields (in order) for every voter- </p>
            <p>Voter ID , Name, Class </p>
            <p style="border:2px red solid">
                *NOTE : for any group, if a class does not exist, then the name of the group will serve as the class.
                THIS FIELD CAN NOT BE LEFT NULL.
            </p>
            {%  for VoterTypes in votertypes.all %}
                <input type="radio" name="type" value="{{ VoterTypes.value  }}" required="required"> {{ VoterTypes.name }} <br>
            {%  endfor %}
            <br>
            <p> Please attach the necessary CSV file - ></p>
            <input type="file" name="csv_source">
            <br>
        <br>
            <input class='btn btn-primary' type="submit" value="Populate Database">
        </form>
        {%  endif %}
    </div>

{% endblock %}