{% extends 'admin-base.html' %}
{% block content %}
    <style>
        #myModal {
            height: 100%;
        }
        .modal-content {
            height: content-box;
        }
    </style>
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        CLUSTER MASTER CONTROL
    </h1>
    <br>
    <br>
    {%  if user.is_authenticated %}
        <div class="container" style="border:solid 2px black; white-space:normal ;">
        <form id="election_chooser">

        </form>
            <button class="btn btn-primary" style="float:right;"  data-toggle="modal" data-target="#myModal"> Add Cluster </button>
        </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="height:auto; overflow:">
      <div class="modal-header">
            <h4 class="modal-title"> Add Cluster </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
          <iframe src="{% url 'add_cluster' %}" style="border: none; width:auto; height:60%;"></iframe>
      </div>
    </div>

  </div>
</div>
    {% endif %}
    </div>

{% endblock %}