{% extends 'admin-base.html' %}
{% block content %}
    <ul class="nav nav-tabs" style="font-size:10px; margin-top:5px;" align="center">
        <li class="nav-item"><a href="{% url 'home_votertype' %}" class="nav-link"> BACK </a></li>
        <li class="nav-item"><a href="{% url 'create_votertype' %}" class="nav-link active"> ADD VOTERTYPE </a></li>
        <li class="nav-item"><a href="{% url 'remove_votertype' %}" class="nav-link"> DELETE VOTERTYPE </a></li>
        <li class="nav-item"><a href="{% url 'all_votertypes' %}" class="nav-link"> VIEW ALL VOTERTYPES </a></li>
    </ul>
    <br>
    <br>

    <div class="container text-center">
        <h1> {{  message }}</h1>
        <h1 class="text-center">
            FIS-EES ADMIN INTERFACE
            <br>
            VOTERTYPE CREATION
        </h1>
        <br>
    <form method="POST" action="{%  url 'create_votertype' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" style="margin-left:27%;" >
                {% for field in form %}
                    <div class="form-row w-100 ml-50">
                        <p class="px-3 text-left" style="width: 200px;">{{ field.label_tag }}</p>
                        <p>{{ field }}</p>
                    </div>
                {% endfor %}
        </div>
        <input class='btn btn-primary' type="submit" value="Add Voter Type">
    </form>
    {% if error %}
            <br>
            <p>Status : {{ error }}</p>
            <br>
    {%endif%}
</div>


{% endblock %}