{% extends 'admin-base.html' %}
{% block content %}
{% if error %}
<br>
{{ error }}
<br>
{%endif%}
    <div class="container text-center">
        <h1> {{  message }}</h1>
    <h1 class="text-center">
        FIS-EES ADMIN INTERFACE
        <br>
        VOTERTYPE DELETION
    </h1>
        {%  if votertypes.count == 0 %}
            <form action="/admin/elections/votertypes/create" id="redirect_to_add"></form>
            <script type="application/javascript">
                 alert("There are no candidates");
                 document.getElementById('redirect_to_add').submit()
            </script>
        {%  endif %}
        <form method="POST" action="/admin/elections/votertypes/remove/" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <p> SELECT VOTERYPE </p>
            <select name="votertype_tbd">
                {% for votertype in votertypes.all %}
                    <option value="{{ votertype.id }}"> {{ votertype.name }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <p style="border:2px solid red;"> Are you SURE you want to delete this Voter Type? THIS ACTION CAN NOT BE UNDONE </p>
            <p> To Proceed, Please Enter the SuperUser username.</p>
            <input type="text" name="superuser_username">
            <p> Please Enter the SuperUser password.</p>
            <input type="password" name="superuser_password_1">
            <p> Please Enter the SuperUser password again.</p>
            <input type="password" name="superuser_password_2">
            <br>
        <br>
            <input class='btn btn-primary' type="submit" value="DELETE VOTERTYPE">
        </form>

    </div>

{% endblock %}